@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  font-family: 'PT Serif', serif;
}

.WhiteMode {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.DarkMode {
  background-color: #242424;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.DicionaryContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  margin-top: 3em;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.icon-book {
  height: 3em;
  width: 3em;
}

.icon-moon {
  height: 1.8em;
  width: 1.8em;
}

nav .btnDarkModeOff {
  height: 2.2em;
  width: 4.2em;
  margin-right: .5em;
  background: transparent;
  border: none;
  background-color: gray;
  border-radius: 20px;
  position: relative;
  bottom: 1em;
  cursor: pointer;

}

nav .btnDarkModeOff:before {
  content: '';
  height: 1.7em;
  width: 1.7em;
  position: absolute;
  background-color: white;
  border-radius: 100%;
  bottom: .2em;
  right: .3em;
  
  animation: DarkModeOff 1s forwards;
}

@keyframes DarkModeOff {
  100% {
    right: 2em;
  }
}  


nav .btnDarkModeOn {
  height: 2.2em;
  width: 4.2em;
  margin-right: .5em;
  background: transparent;
  border: none;
  background-color: gray;
  border-radius: 20px;
  position: relative;
  bottom: 1em;
  cursor: pointer;

}

nav .btnDarkModeOn:before {
  content: '';
  height: 1.7em;
  width: 1.7em;
  position: absolute;
  background-color: white;
  border-radius: 100%;
  bottom: .16em;
  right: 2em;

  animation: DarkModeOn 1s forwards;

}

@keyframes DarkModeOn {
  100% {
    right: .3em;
  }
}  

.SearchContent {
  margin-top: 2em;
}

.SearchContent input{

  width: 35em;
  height: 3em;
  border-radius: 15px;
  border: 1px solid #242424;
  padding-left: 1.2em;
  padding-right: 2em;
}

.SearchContent button {
  position: relative;
  top: .25em;
  right: 2.2em;
  cursor: pointer;
  color: #242424;
  background: transparent;
  border: none;
}

.icon-search {
  height: 1.2em;
  width: 1.2em;
}



