@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  font-family: 'PT Serif', serif;
  margin: 0;
  padding: 0;
}

.WhiteMode {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.DarkMode {
  background-color: #242424;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
  min-height: 100vh;
}

.DicionaryContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  margin-top: 3em;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.icon-book {
  height: 3em;
  width: 3em;
}

.icon-moon {
  height: 1.8em;
  width: 1.8em;
}

nav .btnDarkModeOff {
  height: 2.2em;
  width: 4.2em;
  margin-right: .5em;
  background: transparent;
  border: none;
  background-color: gray;
  border-radius: 20px;
  position: relative;
  bottom: 1em;
  cursor: pointer;

}

nav .btnDarkModeOff:before {
  content: '';
  height: 1.7em;
  width: 1.7em;
  position: absolute;
  background-color: white;
  border-radius: 100%;
  bottom: .2em;
  right: .3em;
  
  animation: DarkModeOff 1s forwards;
}

@keyframes DarkModeOff {
  100% {
    right: 2em;
  }
}  


nav .btnDarkModeOn {
  height: 2.2em;
  width: 4.2em;
  margin-right: .5em;
  background: transparent;
  border: none;
  background-color: gray;
  border-radius: 20px;
  position: relative;
  bottom: 1em;
  cursor: pointer;

}

nav .btnDarkModeOn:before {
  content: '';
  height: 1.7em;
  width: 1.7em;
  position: absolute;
  background-color: white;
  border-radius: 100%;
  bottom: .16em;
  right: 2em;

  animation: DarkModeOn 1s forwards;

}

@keyframes DarkModeOn {
  100% {
    right: .3em;
  }
}  

.SearchContent {
  margin-top: 2em;
}

.SearchContent input{

  width: 30vw;
  height: 3em;
  border-radius: 15px;
  border: 1px solid #242424;
  padding-left: 1.2em;
  padding-right: 2.5em;
}

.SearchContent button {
  position: relative;
  top: .25em;
  right: 2.2em;
  cursor: pointer;
  color: #242424;
  background: transparent;
  border: none;
}

.icon-search {
  height: 1.2em;
  width: 1.2em;
}

.DicionaryDescription {
  margin-top: 1em;
  justify-self: flex-start;
  width: 100%;
}

.WordContent {
  margin-bottom: 2em;
  margin-top: 1em;
}

.WordContent h1{
  font-size: 3em;
  width: 100%;
  word-wrap: break-word;
}

.MeaningsContent {
  margin-bottom: 1em;
}

.MeaningsContent h1{
    font-size: 1.5em;
    font-weight: bolder;
    margin-bottom: .5em;
    padding-bottom: .2em;
}

.WhiteMode .MeaningsContent h1 {
  border-bottom: 2px solid black;

}

.DarkMode .MeaningsContent h1{
  border-bottom: 2px solid white;
}

.MeaningsContent ul li {
  margin-bottom: .2em;
}

.EtimologyContent {
  margin-bottom: 1em;
}

.EtimologyContent h1 {
  font-size: 1.5em;
  font-weight: bolder;
  margin-bottom: .5em;
  padding-bottom: .2em;
}

.WhiteMode .EtimologyContent h1 {
border-bottom: 2px solid black;

}

.DarkMode .EtimologyContent h1{
border-bottom: 2px solid white;
}

@media screen and (max-width: 770px) {
  .DicionaryContent {
    width: 70%;
  }
}

@media screen and (max-width: 430px) {
  .MeaningsContent ul li {
    width: 90%;
    margin-left: 1.2em;
  }
}

@media screen and (max-width: 730px) {
  .DicionaryContent {
    width: 90%;
  }
}




